#me img {					position: absolute;
							top: 50%;
							left: 50%;
							transform: translate(-50%, -50%);
							border-radius: 100%; 
							border:5px solid white; 
							padding: 7px;}
#me h1 {					position: absolute;
							top: 75%;
							left: 50%;
							transform: translate(-50%, -50%);
							color: white;
							font-weight: bold;
							font-size:50px;
							font-family:"Estrangelo Edessa";
							border-top: 3px solid white;
							border-bottom: 3px solid white; }
#me h3 {					position: absolute;
							top: 85%;
							left: 50%;
							transform: translate(-50%, -50%);
							color: white;
							font-weight: bold;
							font-size:25px;
							font-family:"Estrangelo Edessa"; }	
