#container { 			width:100%;
						height: 1400px;
						position: absolute; 
						z-index:0;}
#infos{					position: absolute;
						top: 17%;
						left: 48%;
						transform: translate(-50%, -50%);
						font-weight: bold;
						font-family:"Estrangelo Edessa";
						background-color: rgb(255,255,255, 0.8); 
						margin: 20px;
						padding-top: 5px;
						padding-left:20px;
						padding-right:20px;
						width:80%;
						height: 400px; }	
#infos h1, #edu h1, #skill h1 {		     	
						overflow: hidden;
						text-align: center;
						font-size:40px;
						font-style:"Cooper Black"; }
#infos h1:before, #edu h1:before, #skill h1:before{		
						background-color: #000;
						content: "";
						display: inline-block;
						height: 2px;
						position: relative;
						vertical-align: middle;
						width: 50%; 
						right: 0.5em;
						margin-left: -50%; }
#infos h1:after, #edu h1:after, #skill h1:after{		
						background-color: #000;
						content: "";
						display: inline-block;
						height: 2px;
						position: relative;
						vertical-align: middle;
						width: 50%; 
						left: 0.5em;
						margin-right: -50%; }
#edu{					position: absolute;
						top: 50%;
						left: 48%;
						transform: translate(-50%, -50%);
						font-weight: bold;
						font-family:"Estrangelo Edessa";
						background-color: rgb(255,255,255, 0.8); 
						margin: 20px;
						padding-top: 5px;
						padding-left:20px;
						padding-right:20px;
						width:80%;
						height: 450px; }
#skill{					position: absolute;
						top: 79%;
						left: 48%;
						transform: translate(-50%, -50%);
						font-weight: bold;
						font-family:"Estrangelo Edessa";
						background-color: rgb(255,255,255, 0.8); 
						margin: 20px;
						padding-top: 5px;
						padding-left:20px;
						padding-right:20px;
						width:80%;
						height: 280px; }	
#elem,#hs, #college{ display:inline;
					float:left;
					width: 340px;
					text-align: center;
					margin:0 auto;}
#elem,#hs{ border-right: 1px solid black;}						
#elem img,#hs img , #college img{ margin: auto;
display: block;}						